<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smilik:)</title>
    <link rel="stylesheet" href="/styles/templates hw4/reletiv1.css">
</head>
<body>
    
    <div class="cont">
        <div class="bigcircl">
            <div class="circl1"></div>
            <div class="circl2"></div>
            <div class="circl3"></div>
            <div class="mouth"></div>
        </div>
    </div>
</body>
</html>