<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Homework</title>
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon114x114.png">


    <meta name="description" content="Homework">
    <meta name="keywords" content="html, webdev">
    <meta name="author" content="Kirill Novakovskii">
   
  

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  
    <link rel="stylesheet" href="../styles/style.css">

    <style>
      div {
        background-color: #ffffff;
      }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap" rel="stylesheet">

  </head>
  <body>
  
    <header> <p align="center">Discount on all products - 15%</p></header>
   
    <hr>

    <nav>
      <ul>
        <li><a href="#">Home</a>
          <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><a href="#">solutions</a></li>
        <li><a href="#">products</a></li>
        <li><a href="#">about us</a></li>
        <li><a href="#">contacts</a></li>
      </ul>
    </nav>
    <hr>


    <main>
      <h1>This is a main tittle for this page</h1>

      <section>
       <strong>Section 1 - text</strong> 
       
        <p><article>Lorem ipsum dolor sit, amet <strong>consectetur</strong> adipisicing elit. Exercitationem vel dolorum quibusdam nesciunt nobis aspernatur.</article>

       <article><tt> Lorem ipsum dolor sit amet consectetur.</tt></article>

       <article><i>Lorem ipsum dolor sit amet consectetur adipisicing.</i></article>

       <article><s>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum?</s></article>

       <br>
       <article><q>Lorem ipsum dolor sit amet.</q>
         <address>Kirill Novakovskii</address>
         <time>2022-04-26</time>
        </article></p>
      </section>
      <hr>

      <section>
        <strong>Section 2 - Div cards</strong> 
        
        <div class="container">
        <ins><p>Title card</p></ins>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p> <strong>Price </strong>- 250$</p>

        <ins><p>Title card</p></ins>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p><strong>Price </strong>- 250$</p>

        <ins><p>Title card</p></ins>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p><strong>Price </strong>- 250$</p>

        <ins><p>Title card</p></ins>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p><strong>Price </strong>- 250$</p>
        </div>
      </section>
      <hr>
    </main>

    <footer>Footer
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contacts</a></li>
      </ol>
     
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem iure aspernatur incidunt delectus beatae, natus ipsum distinctio hic!</p>

      <p align="center">&#169 2022 Company - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate inventore perferendis quis placeat dicta odit.</p>
    </footer>




  <script src="../js/main.js"></script>

  </body>
</html>